# Auto detect text files and perform LF normalization
* text=auto

*.py text eol=lf
*.md text eol=lf
*.sql text eol=lf
*.json text eol=lf
*.csv text eol=lf
*.sqlite3 binary
*.xlsx binary
*.docx binary
